.page-home {
  // background-image: url('../images/undraw_taking_notes_tjaf.svg');
  background-image: url("../images/home.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  @include media-breakpoint-down(sm) {
    background: none;
  }
  /*
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% -50px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 60%;
    background-position: 102% -60px;
  }
  */

  .intro > .container{
    padding-bottom: 40px;
  }
}
